<div class="orders-container p-2 lg: 5 ">
  <div class="">
    <h2 class="text-center text-gray-800 font-bold">All Orders</h2>
  </div>
  <div class="order-list">
    <div *ngFor="let order of orders, even as even" class="order my-3 p-3 rounded-md" [ngClass]="{'bg-gray-100': even, 'bg-[#fef5e7]' : !even}">
      <h2>Order ID: {{ order.id }}</h2>
      <p class=""><strong>Order By: </strong> <span class="text-gray-500"> {{ order.user.firstName }} {{ order.user.lastName }}</span></p>
      <p><strong>Total Price:</strong> ৳{{ order.totalPrice }}</p>
      <p><strong>Total Discounted Price:</strong> ৳{{ order.totalDiscountedPrice }}</p>
      <div class="flex items-center gap-3 h-full pb-3">
        <span class="h-full"><strong>Order Status:</strong> {{ order.orderStatus }}</span>
        <button [matMenuTriggerFor]="orderStatus" style="" class="bg-[#d6dbdf] font-semibold text-gray-600 px-2 py-1 h-full rounded-md">Change Status</button>
        <mat-menu #orderStatus="matMenu">
          <button mat-menu-item (click)="changeStatus(order, 'PLACED')">PLACED</button>
          <button mat-menu-item (click)="changeStatus(order, 'CONFIRMED')">CONFIRMED</button>
          <button mat-menu-item (click)="changeStatus(order, 'CANCELED')">CANCELED</button>
          <button mat-menu-item (click)="changeStatus(order, 'SHIPPED')">SHIPPED</button>
          <button mat-menu-item (click)="changeStatus(order, 'DELIVERED')">DELIVERED</button>
        </mat-menu>
      </div>
      <p><strong>Order Date:</strong> {{ order.orderDate | date: 'medium' }}</p>
      <p><strong>Receive By: </strong> <span class="text-lg font-semibold text-green-600">{{order.shippingAddress.firstName +" "+order.shippingAddress.lastName}}</span>, Phone: {{order.shippingAddress.mobile}}</p>
      <p><strong>Shipping Address:</strong> {{ order.shippingAddress.address }} {{order.shippingAddress.postCode ? "," + order.shippingAddress.postCode : ""}}</p>
      <div class="flex items-center gap-3 h-full pb-3">
        <span class="h-full"><strong>Payment Status:</strong> {{ order.paymentDetails.status }}</span>
        <button [matMenuTriggerFor]="paymentStatus" class="bg-[#d0ece7] text-gray-700 px-2 py-1 h-full rounded-md">Change Status</button>
        <mat-menu #paymentStatus="matMenu">
          <button mat-menu-item (click)="changeStatus(order, 'PENDING')">PENDING</button>
          <button mat-menu-item (click)="changeStatus(order, 'DONE')">DONE</button>
        </mat-menu>
      </div>
      <button (click)="openItemList(order.id)" class="bg-green-700 text-white font-medium text-lg px-2 py-1 h-full w-full rounded-md">See All Item</button>
      <hr>
    </div>
  </div>
</div>
