<div class="flex items-center h-screen">
  <div class="h-full w-[20%] border border-r-gray-800 overflow-y-scroll hide-scrollbar">
    <span *ngFor="let item of submenu; let odd = odd" [routerLink]="item.link"
          class="m-0 h-6 w-full text-md block pl-4 text-gray-600 font-medium cursor-pointer"
          [ngClass]="{'bg-gray-500': clickedItem === item ,'bg-gray-100': odd, 'text-white': clickedItem===item}"
          (click)="clickedItem = item">{{item.name}}</span>


  </div>
  <div class="h-full w-[80%] overflow-y-scroll hide-scrollbar">
    <router-outlet></router-outlet>
  </div>
</div>
