<div class="flex flex-col items-center">
  <main class="px-4 sm:px-6 max-w-7xl pb-10">
    <div class="flex items-baseline justify-between border-gray-700 pb-6 pt-24">
      <h1 class="text-4xl font-semibold text-gray-800">Products</h1>
      <div class="flex items-center">
        <div>
          <button mat-button [matMenuTriggerFor]="sortProductMenu">Sort</button>
          <mat-menu #sortProductMenu="matMenu">
            <button (click)="filterAccording('price_low', 'sort')" mat-menu-item>Price: high -> Low</button>
            <button (click)="filterAccording('price_high', 'sort')" mat-menu-item>Price: low -> high</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <section class="pt-7">

      <div class="grid grid-cols-1 gap-7 gap-y-11 lg:grid-cols-4">
        <div>
          <div class="flex items-center justify-between">
            <p class="text-lg">Filters</p>
            <mat-icon>filter_list</mat-icon>
          </div>

          <form class="hidden lg:block">
            <div *ngFor = "let item of colorFilter let lastIdx = last">
              <div class="py-6">
                <span>{{item.name}}</span>
                <div class="pt-6" id="filter_section_1">
                  <div class="scroll-py-4">
                    <div *ngFor="let op of item.option">
                        <div class="flex items-center">
                          <mat-checkbox
                            id="'filter1 - ' + op.value"
                            [name]="item.id"
                            [value]="op.value"
                            (click)="filterAccording(op.value, item.id)"
                            >
                            <span class="text-sm text-gray-700">
                              {{op.label}}
                            </span>
                          </mat-checkbox>
                        </div>
                    </div>
                  </div>

                </div>

              </div>
              <mat-divider></mat-divider>
            </div>
            <div *ngFor = "let item of priceFilter let lastIdx = last">
              <div class="py-6">
                <span>{{item.name}}</span>
                <div class="pt-6" id="filter-section-0">
                  <div class="scroll-py-4">
                    <div *ngFor="let op of item.option">
                      <div class="flex items-center">
                        <mat-checkbox
                          id="'filter2 - ' + op.value"
                          [name]="item.id"
                          [value]="op.value"
                          (click)="filterAccording(op.value, item.id)"
                        >
                            <span class="text-sm text-gray-700">
                              {{op.label}}
                            </span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <mat-divider *ngIf="!lastIdx"></mat-divider>
            </div>
          </form>
        </div>

        <div class="lg:col-span-3">
          <div class="flex flex-wrap justify-evenly">
            <ng-container *ngFor="let item of selectedCloth">
              <app-product-card [product]="item"/>
            </ng-container>
          </div>
          Products
        </div>
      </div>
    </section>
  </main>
</div>
