<div class="bg-gray-800 text-white mt-13 text-center px-5 lg:px-20">
  <div class="container">
    <div class = "py-3 flex justify-between">
      <div class="px-4 text-right">
        <h3 class="px-5 text-lg font-medium text-blue-50">Company</h3>
        <h3 class="px-5 text-lg font-medium text-blue-50">About</h3>
        <h3 class="px-5 text-lg font-medium text-blue-50">Partners</h3>
        <h3 class="px-5 text-lg font-medium text-blue-50">Openings</h3>
      </div>
      <div class="px-4">
        <h3 class="px-5 text-lg font-medium text-blue-50">T & C</h3>
        <h3 class="px-5 text-lg font-medium text-blue-50">Support</h3>
        <h3 class="px-5 text-lg font-medium text-blue-50">Privacy</h3>
      </div>
      <div class="px-4 align-bottom text-right">
        <div>
          <h3 class="px-5 text-lg font-medium text-blue-50">Company Address</h3>
          <p>34/A Kawasaki, Mirpur, Dhaka, Bangladesh</p>
        </div>

        <div class="text-amber-100">
          <h3 class="text-lg font-medium text-amber-100 text-right m-0 p-0">Developer Info</h3>
          <p>Nabendu Bikash Binda</p>
          <a href="https://nabendu.vercel.app">https://nabendu.vercel.app</a>
          <div class="flex justify-end">
            <share-buttons theme="circles-lite"
                           [include]="['linkedin']"
                           [showIcon]="true"
                           [showText]="false"
                           url="https://www.linkedin.com/in/binda-nabendu/">
            </share-buttons>
            <share-buttons theme="circles-lite" class="justify-end"
                           [include]="['email']"
                           [showIcon]="true"
                           [showText]="true"
                           url="mailto:binda.nabendu@gmail.com?subject=Mail from ecommerce visitor">
            </share-buttons>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
