<div class="p-4">
  <form [formGroup]="loginForm">
    <div><h1 class="text-center text-green-600">Log In</h1></div>
    <div>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email>
        <mat-error *ngIf="loginForm.controls['email'].hasError ('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError ('email')">Invalid Email Address</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required password>
        <mat-error *ngIf="loginForm.controls['password'].hasError ('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError ('minlength')">At least 6 char long</mat-error>
      </mat-form-field>
      <div>
        <button  (click)="submitLoginDetails()" class="text-lg p-2 w-full bg-green-500 hover:bg-green-600">Log In</button>
      </div>
      <div class="items-center flex pt-2 flex-wrap justify-center">
        <span>Haven't Account: </span>
        <button (click)="changeView()"  class="text-lg rounded-md px-2 p-1/2 m-1 bg-amber-500 hover:accent-amber-700">register</button>
      </div>
    </div>
  </form>
</div>
