<div class="p-5">
  <div class="flex items-center">
    <div class="w-[5rem] h-[7rem] lg:w-[9rem] lg:h-[11rem]">
      <img class="w-full h-full object-cover object-top" src="https://rukminim1.flixcart.com/image/612/612/kmns7m80/jean/9/5/o/36-black-36-coper-buck-original-imagfg9edbsneu2s.jpeg?q=70" alt="">
    </div>
    <div class="ml-5 space-y-1">
      <p class="font-semibold">
        Demo Cloth title
      </p>
      <p class="text-gray-600">Size : M, Black</p>
      <p class="text-gray-600 mt-2">Seller: Myshop</p>
      <div class="flex space-x-2 items-center pt-3">
        <p class="text-gray-500 line-through">$8373</p>
        <p class="text-amber-500">$2322</p>
        <p class="text-green-700 font-bold">40%off</p>
      </div>
    </div>
  </div>
</div>
<div class="flex items-center justify-between mb-3 p-3 lg:p-5 lg:space-x-10 lg:space-y-10">
  <div class="flex items-center space-x-3 w-full">
    <div class="example-button-container">
      <button mat-mini-fab color="accent" (click)="chanTotalItem(-1)" [disabled] = "true"><mat-icon>remove</mat-icon></button>
    </div>
    <div class="py-1 px-7 border border-gray-200 rounded-sm items-center">3</div>
    <div class="example-button-container">
      <button mat-mini-fab style="background: green" (click)="chanTotalItem(1)" [disabled] = "false"><mat-icon>add</mat-icon></button>
    </div>

    <div class="example-button-container flex w-full">
      <button mat-raised-button color="accent w-full" (click)="removeItem()">Delete</button>
    </div>
  </div>
</div>
