<div>
  <div>
    <app-top-carousel/>
  </div>
  <div class="shadow shadow-gray-400 m-3 mb-10">
    <app-item-product-slider title = "Man's Jeans" [products]="manJeans"/>
  </div>
  <div class="shadow shadow-gray-400 m-3 mb-10">
    <app-item-product-slider title = "Woman's Gouns" [products]="womansGouns"/>
  </div>
  <div class="shadow shadow-gray-400 m-3 mb-10">
    <app-item-product-slider title = "Lehenga Choli" [products]="lehengaCholi"/>
  </div>
  <div class="shadow shadow-gray-400 m-3 mb-10">
    <app-item-product-slider title = "Man's Kurta" [products]="mansKurta"/>
  </div>
  <div class="shadow shadow-gray-400 m-3 mb-10">
    <app-item-product-slider title = "Shoes" [products]="shoes"/>
  </div>
</div>
